:root {
  --text-color: #333;
  --primary-color: #fff;
  --secondary-color: #fbfbfb;
  --border-color: #e7e8e8;
  --blue: #0099ff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4;
  background-color: #fff;
  color: var(--text-color);
  
}

ul {
  list-style: none;
}

a {
  display: inline-block;
  text-decoration: none;
  color: var(--text-color);
}

p {
  font-size: 1.2rem;
}

/* Utility classes */
.container {
  max-width: 1100px;
  width: 90%;
  margin: auto;
  padding: 50px 0;
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-50 {
  margin-bottom: 50px;
}

.fa-facebook {
  color: #3b5998;
}

.fa-twitter {
  color: #00acee;
}

.fa-vk {
  color: #4c75a3;
}

.fa-github {
  color: #211F1F;
}

.btn {
  cursor: pointer;
  border: none;
  padding: 0.8rem 1.4rem;
  transition: all 0.35s ease;
  border: 1px solid var(--text-color);
  border-radius: 3px;
  font-size: 1.1rem;
}

.box {
  padding: 2rem;
  border: 1px solid var(--border-color);
  border-radius: 4px
}

.box-dark {
  background-color: #333;
  color: #fff;
}

.box-light {
  background-color: #fff;
  color: #333;
}

.btn-dark {
  background: var(--text-color);
  color: var(--primary-color);
}

.btn-light {
  background: var(--primary-color);
  color: var(--text-color);
}

.btn:hover {
  background-color: var(--text-color);
  color: var(--primary-color);
}

.btn-dark:hover {
  background: var(--primary-color);
  color: var(--text-color);
}

.btn-light:hover {
  background: var(--text-color);
  color: var(--primary-color);
}

/* Navbar */
#main-nav {
  background-color: var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  position: sticky;
  border-bottom: 1px solid var(--border-color);
  top: 0;
  z-index: 3;
  transition: all 0.5s ease-in 0s;
}

#main-nav .logo-wrapper {
  padding: 0px 20px;
  border-right: 1px solid var(--border-color);
  height: 100%;
}

#main-nav .logo-wrapper .logo {
  width: 70px;
}

#main-nav .list {
  display: flex;
}

#main-nav .list li {
  padding: 0.75rem 1.4rem;
}


/* Showcase */
#showcase {
  display: flex;
  flex-direction: column;
  height: 90vh;
  justify-content: center;
  align-items: center;
  background-color: var(--secondary-color);
}

#showcase img {
  margin-bottom: 10px;
}

#showcase h1 {
  margin-bottom: 10px;
  text-transform: uppercase;
  font-size: 3rem;
  max-width: 600px;
  text-align: center;
}

#showcase p {
  max-width: 600px;
  text-align: center;
}

/* Info Section */
#main-info h2, #main-info .container > p {
  text-align: center;
}

#main-info h2 {
  font-size: 2rem;
}

#main-info .container > p {
  max-width: 400px;
  margin: 0 auto 20px auto;
}

#main-info .btn {
  display: block;
  margin: 0 auto 60px auto;
  width: 230px;
  text-transform: uppercase;
  background: var(--blue);
  color: var(--primary-color);
  border: none;
  border: 1px solid var(--blue);
}

#main-info .btn:hover {
  border: 1px solid var(--text-color);
  color: var(--text-color);
  background: var(--primary-color);
}

#main-info img {
  display: block;
  border-radius: 10px;
  max-width: 700px;
  margin: 0 auto 60px auto;
}

#main-info .box-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
}

#main-info .box h3 {
  display: inline-block;
  margin-left: 10px;
}

#main-info .box .box-icon {
  color: var(--blue);
}

/*Founded section*/
#founded {
  padding: 2rem;
  position: relative;
  height: 130vh;
}

#founded .container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

#founded:before {
  content: "";
  background: url("../img/founder.jpg") no-repeat center center/cover;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: -1;
  opacity: 0.4;
}

#founded .container .content > p {
  text-align: center;
}

#founded h2 {
  text-align: center;
  font-size: 2rem;
}

#founded img {
  border-radius: 50%;
}

#founded h3 {
  font-size: 1.7rem;
  text-align: center;
}

#founded ul li {
  margin-right: 5px;
}

#founded ul {
  display: flex;
  justify-content: center;
}

#founded img {
  display: block;
  margin: auto;
  width: 150px;
  height: 150px;
}

/* Footer */
#main-footer {
  padding: 0.25rem;
  font-size: 0.7rem;
  text-align: center;
  color: var(--primary-color);
  background-color: var(--text-color);
}


